body {
    background-image: linear-gradient(to top, rgb(0, 60, 255) 0%, rgb(255, 255, 255) 40%);
    width:fit-content;
    font-size: 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 60px;
    font-family: fantasy;
  
    
}
h2{
    font-size:larger;

}
h4 {
    font: size 50px;
    line-height: 40px;
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  background-color: rgb(255, 187, 255);
  color: rgb(255, 75, 213);
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
h5{
    background-color: rgb(15, 67, 255);
    color: rgb(255, 255, 255);
    font: size 50px;
    line-height: 40px;
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  
  
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
p{
    color: rgb(255, 75, 213);
    width: 60%;
    background-color: rgb(255, 187, 255);
    font-size:small;
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;

}

.green{
    color: rgb(234, 58, 58);
}
#first{font-weight: bold;}
a{
    color: rgb(254, 255, 255);
    font-size: 30px;
}
