body {
    background-image:url(./个人作品集/苹果大书/33.png);
    background-color: rgb(215, 0, 0);

    font-size: 10pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: aliceblue;
}
h1:hover{
  color: rgb(242, 255, 0);
}
p {
    color: aliceblue;
    animation-duration: 3s;
    animation-name: slidein;
    width: 50%;
    font-family: fantasy;
  }
  a{
    color: #ffffff ;
    font-size: 20px;
}

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    
  }
  